In [1]:
import pandas as pd
import numpy as np

In [2]:
# 1. Creating a Series and DataFrame
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print("Series:")
print(s)

Series:
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range("20230920", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
print("\nDataFrame:")
print(df)

DataFrame:
                   A         B         C         D
2023-09-20  0.424333 -1.298156 -0.182134 -0.976312
2023-09-21 -0.855736 -0.136819  0.883288 -1.445251
2023-09-22 -0.299267 -0.360842  0.504371  1.850383
2023-09-23  0.152077  0.500166  1.388119 -0.162375
2023-09-24 -0.926248  0.595376 -0.861636 -0.136721
2023-09-25  0.893599 -0.338509  1.787053  0.884113

In [4]:
# 2. Viewing Data
print("\nFirst 5 Rows:")
print(df.head())

print("\nRead Headers:")
print(df.columns)

print("\nLast 3 Rows:")
print(df.tail(3))

print("\nIndex, Columns, and Values:")
print(df.index)
print(df.columns)
print(df.to_numpy())

First 5 Rows:
                   A         B         C         D
2023-09-20  0.424333 -1.298156 -0.182134 -0.976312
2023-09-21 -0.855736 -0.136819  0.883288 -1.445251
2023-09-22 -0.299267 -0.360842  0.504371  1.850383
2023-09-23  0.152077  0.500166  1.388119 -0.162375
2023-09-24 -0.926248  0.595376 -0.861636 -0.136721

Read Headers:
Index(['A', 'B', 'C', 'D'], dtype='object')

Last 3 Rows:
                   A         B         C         D
2023-09-23  0.152077  0.500166  1.388119 -0.162375
2023-09-24 -0.926248  0.595376 -0.861636 -0.136721
2023-09-25  0.893599 -0.338509  1.787053  0.884113

Index, Columns, and Values:
DatetimeIndex(['2023-09-20', '2023-09-21', '2023-09-22', '2023-09-23',
               '2023-09-24', '2023-09-25'],
              dtype='datetime64[ns]', freq='D')
Index(['A', 'B', 'C', 'D'], dtype='object')
[[ 0.42433263 -1.29815637 -0.18213445 -0.97631204]
 [-0.85573557 -0.13681873  0.88328773 -1.4452512 ]
 [-0.29926686 -0.36084178  0.50437131  1.85038259]
 [ 0.15207668  0.50016583  1.38811871 -0.16237525]
 [-0.92624828  0.59537609 -0.86163597 -0.1367207 ]
 [ 0.89359942 -0.33850943  1.78705295  0.88411325]]

In [5]:
# 3. Descriptive Statistics
print("\nDescriptive Statistics:")
print(df.describe())

print("\nTranspose:")
print(df.T)

Descriptive Statistics:
              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.101874 -0.173131  0.586510  0.002306
std    0.723770  0.688987  0.986574  1.207687
min   -0.926248 -1.298156 -0.861636 -1.445251
25%   -0.716618 -0.355259 -0.010508 -0.772828
50%   -0.073595 -0.237664  0.693830 -0.149548
75%    0.356269  0.340920  1.261911  0.628905
max    0.893599  0.595376  1.787053  1.850383

Transpose:
   2023-09-20  2023-09-21  2023-09-22  2023-09-23  2023-09-24  2023-09-25
A    0.424333   -0.855736   -0.299267    0.152077   -0.926248    0.893599
B   -1.298156   -0.136819   -0.360842    0.500166    0.595376   -0.338509
C   -0.182134    0.883288    0.504371    1.388119   -0.861636    1.787053
D   -0.976312   -1.445251    1.850383   -0.162375   -0.136721    0.884113

In [6]:
# 4. Sorting and Selection
df_sorted_index = df.sort_index(axis=1, ascending=False)
print("\nSorted by Index (Columns Descending):")
print(df_sorted_index)

df_sorted_values = df.sort_values(by="B")
print("\nSorted by Values (Column 'B'):")
print(df_sorted_values)

print("\nSelect Column 'A':")
print(df["A"])

print("\nSelect First 3 Rows:")
print(df[0:3])

print("\nSelect Rows by Date Range:")
print(df["20230920":"20230922"])

print("\nSorting by Multiple columns:")
print(df.sort_values(['A', 'B'], ascending=[1,0]))

# see the result after using the drop paramter
new_df = df.loc[(df['A'] < 1) ]
new_df.reset_index(drop=True, inplace=True)

print("\nNew Dataframe :")
print(new_df)

Sorted by Index (Columns Descending):
                   D         C         B         A
2023-09-20 -0.976312 -0.182134 -1.298156  0.424333
2023-09-21 -1.445251  0.883288 -0.136819 -0.855736
2023-09-22  1.850383  0.504371 -0.360842 -0.299267
2023-09-23 -0.162375  1.388119  0.500166  0.152077
2023-09-24 -0.136721 -0.861636  0.595376 -0.926248
2023-09-25  0.884113  1.787053 -0.338509  0.893599

Sorted by Values (Column 'B'):
                   A         B         C         D
2023-09-20  0.424333 -1.298156 -0.182134 -0.976312
2023-09-22 -0.299267 -0.360842  0.504371  1.850383
2023-09-25  0.893599 -0.338509  1.787053  0.884113
2023-09-21 -0.855736 -0.136819  0.883288 -1.445251
2023-09-23  0.152077  0.500166  1.388119 -0.162375
2023-09-24 -0.926248  0.595376 -0.861636 -0.136721

Select Column 'A':
2023-09-20    0.424333
2023-09-21   -0.855736
2023-09-22   -0.299267
2023-09-23    0.152077
2023-09-24   -0.926248
2023-09-25    0.893599
Freq: D, Name: A, dtype: float64

Select First 3 Rows:
                   A         B         C         D
2023-09-20  0.424333 -1.298156 -0.182134 -0.976312
2023-09-21 -0.855736 -0.136819  0.883288 -1.445251
2023-09-22 -0.299267 -0.360842  0.504371  1.850383

Select Rows by Date Range:
                   A         B         C         D
2023-09-20  0.424333 -1.298156 -0.182134 -0.976312
2023-09-21 -0.855736 -0.136819  0.883288 -1.445251
2023-09-22 -0.299267 -0.360842  0.504371  1.850383

Sorting by Multiple columns:
                   A         B         C         D
2023-09-24 -0.926248  0.595376 -0.861636 -0.136721
2023-09-21 -0.855736 -0.136819  0.883288 -1.445251
2023-09-22 -0.299267 -0.360842  0.504371  1.850383
2023-09-23  0.152077  0.500166  1.388119 -0.162375
2023-09-20  0.424333 -1.298156 -0.182134 -0.976312
2023-09-25  0.893599 -0.338509  1.787053  0.884113

New Dataframe :
          A         B         C         D
0  0.424333 -1.298156 -0.182134 -0.976312
1 -0.855736 -0.136819  0.883288 -1.445251
2 -0.299267 -0.360842  0.504371  1.850383
3  0.152077  0.500166  1.388119 -0.162375
4 -0.926248  0.595376 -0.861636 -0.136721
5  0.893599 -0.338509  1.787053  0.884113

In [7]:
# 5. Selection by Label and Position
print("\nSelection by Label:")
print(df.loc[:, ["A", "B"]])  # All rows, Columns A and B

print("\nSelection by Position:")
print(df.iloc[3:5, 0:2])  # Rows 3-4, Columns 0-1

print("\nBoolean Indexing (A > 0):")
print(df[df["A"] > 0])
print(df.loc[df['A'] == 1])

print("\nRead Each Row:")
for index, row in df.iterrows():
    print(index, row['A'])

Selection by Label:
                   A         B
2023-09-20  0.424333 -1.298156
2023-09-21 -0.855736 -0.136819
2023-09-22 -0.299267 -0.360842
2023-09-23  0.152077  0.500166
2023-09-24 -0.926248  0.595376
2023-09-25  0.893599 -0.338509

Selection by Position:
                   A         B
2023-09-23  0.152077  0.500166
2023-09-24 -0.926248  0.595376

Boolean Indexing (A > 0):
                   A         B         C         D
2023-09-20  0.424333 -1.298156 -0.182134 -0.976312
2023-09-23  0.152077  0.500166  1.388119 -0.162375
2023-09-25  0.893599 -0.338509  1.787053  0.884113
Empty DataFrame
Columns: [A, B, C, D]
Index: []

Read Each Row:
2023-09-20 00:00:00 0.4243326321070269
2023-09-21 00:00:00 -0.855735565314326
2023-09-22 00:00:00 -0.29926686375571526
2023-09-23 00:00:00 0.1520766750200268
2023-09-24 00:00:00 -0.9262482833170612
2023-09-25 00:00:00 0.893599424864859

In [8]:
# 6. Setting Values and Deleting Columns
df.at[dates[0], "A"] = 0
df.iat[0, 1] = 0
df.loc[df["A"] > 0, "B"] = 100
print("\nData After Setting Values:")
print(df)

print("\nDroping single column :")
print(df.drop(columns=['D']))

print("\nConditional Changes ")
# df.loc[df['A'] <= 1, ['B','C']] = ['say1', 'say2']
# print(df)

Data After Setting Values:
                   A           B         C         D
2023-09-20  0.000000    0.000000 -0.182134 -0.976312
2023-09-21 -0.855736   -0.136819  0.883288 -1.445251
2023-09-22 -0.299267   -0.360842  0.504371  1.850383
2023-09-23  0.152077  100.000000  1.388119 -0.162375
2023-09-24 -0.926248    0.595376 -0.861636 -0.136721
2023-09-25  0.893599  100.000000  1.787053  0.884113

Droping single column :
                   A           B         C
2023-09-20  0.000000    0.000000 -0.182134
2023-09-21 -0.855736   -0.136819  0.883288
2023-09-22 -0.299267   -0.360842  0.504371
2023-09-23  0.152077  100.000000  1.388119
2023-09-24 -0.926248    0.595376 -0.861636
2023-09-25  0.893599  100.000000  1.787053

Conditional Changes

In [9]:
# 7. Handling Missing Data
df_with_nan = df.reindex(index=dates[:4], columns=list(df.columns) + ["E"])
df_with_nan.loc[dates[0]:dates[1], "E"] = np.nan

df_dropped = df_with_nan.dropna(how="any")
print("\nData After Dropping NaNs:")
print(df_dropped)

df_filled = df_with_nan.fillna(value=5)
print("\nData After Filling NaNs:")
print(df_filled)

Data After Dropping NaNs:
Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

Data After Filling NaNs:
                   A           B         C         D    E
2023-09-20  0.000000    0.000000 -0.182134 -0.976312  5.0
2023-09-21 -0.855736   -0.136819  0.883288 -1.445251  5.0
2023-09-22 -0.299267   -0.360842  0.504371  1.850383  5.0
2023-09-23  0.152077  100.000000  1.388119 -0.162375  5.0

In [10]:
# 8. Operations and Aggregations
print("\nColumn-wise Mean:")
print(df.mean())

print("\nRow-wise Mean:")
print(df.mean(axis=1))

print("\nCumulative Sum:")
print(df.apply(np.cumsum))

print("\nRange (Max - Min) for Each Column:")
print(df.apply(lambda x: x.max() - x.min()))

Column-wise Mean:
A    -0.172596
B    33.349619
C     0.586510
D     0.002306
dtype: float64

Row-wise Mean:
2023-09-20    -0.289612
2023-09-21    -0.388629
2023-09-22     0.423661
2023-09-23    25.344455
2023-09-24    -0.332307
2023-09-25    25.891191
Freq: D, dtype: float64

Cumulative Sum:
                   A           B         C         D
2023-09-20  0.000000    0.000000 -0.182134 -0.976312
2023-09-21 -0.855736   -0.136819  0.701153 -2.421563
2023-09-22 -1.155002   -0.497661  1.205525 -0.571181
2023-09-23 -1.002926   99.502339  2.593643 -0.733556
2023-09-24 -1.929174  100.097716  1.732007 -0.870277
2023-09-25 -1.035575  200.097716  3.519060  0.013837

Range (Max - Min) for Each Column:
A      1.819848
B    100.360842
C      2.648689
D      3.295634
dtype: float64

In [11]:
# 9. Merging DataFrames
df2 = pd.DataFrame({"A": [1, 2, 3, 4], "B": [5, 6, 7, 8]}, index=pd.date_range("20230920", periods=4))
df_concat = pd.concat([df[:2], df2])
print("\nConcatenated DataFrame:")
print(df_concat)

Concatenated DataFrame:
                   A         B         C         D
2023-09-20  0.000000  0.000000 -0.182134 -0.976312
2023-09-21 -0.855736 -0.136819  0.883288 -1.445251
2023-09-20  1.000000  5.000000       NaN       NaN
2023-09-21  2.000000  6.000000       NaN       NaN
2023-09-22  3.000000  7.000000       NaN       NaN
2023-09-23  4.000000  8.000000       NaN       NaN

In [12]:
# 10. Grouping and Aggregation
df_grouped = df.groupby("A").sum()
print("\nGrouped Data by Column 'A':")
print(df_grouped)

Grouped Data by Column 'A':
                    B         C         D
A
-0.926248    0.595376 -0.861636 -0.136721
-0.855736   -0.136819  0.883288 -1.445251
-0.299267   -0.360842  0.504371  1.850383
 0.000000    0.000000 -0.182134 -0.976312
 0.152077  100.000000  1.388119 -0.162375
 0.893599  100.000000  1.787053  0.884113

In [13]:
# 11. Reshaping and Pivot Tables
# Pivot tables require structured data, so let's use a simple example:
df_pivot = df.pivot_table(values="A", index="B", columns="C", aggfunc=np.sum)
print("\nPivot Table:")
print(df_pivot)

Pivot Table:
C            -0.861636  -0.182134   0.504371   0.883288   1.388119   1.787053
B
-0.360842          NaN        NaN  -0.299267        NaN        NaN        NaN
-0.136819          NaN        NaN        NaN  -0.855736        NaN        NaN
 0.000000          NaN        0.0        NaN        NaN        NaN        NaN
 0.595376    -0.926248        NaN        NaN        NaN        NaN        NaN
 100.000000        NaN        NaN        NaN        NaN   0.152077   0.893599

C:\Users\saman\AppData\Local\Temp\ipykernel_16344\3607754202.py:3: FutureWarning: The provided callable <function sum at 0x00000227E3992340> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_pivot = df.pivot_table(values="A", index="B", columns="C", aggfunc=np.sum)

In [14]:
# 12. Time Series
ts = pd.Series(np.random.randn(1000), index=pd.date_range("2023-01-01", periods=1000))
ts_resampled = ts.resample("M").mean()
print("\nResampled Time Series (Monthly Mean):")
print(ts_resampled)

Resampled Time Series (Monthly Mean):
2023-01-31    0.010225
2023-02-28   -0.163096
2023-03-31    0.275010
2023-04-30    0.198492
2023-05-31    0.185454
2023-06-30   -0.018611
2023-07-31    0.140432
2023-08-31    0.535294
2023-09-30   -0.129691
2023-10-31   -0.088222
2023-11-30    0.226462
2023-12-31    0.282080
2024-01-31   -0.032995
2024-02-29   -0.111480
2024-03-31   -0.030812
2024-04-30   -0.062409
2024-05-31    0.037105
2024-06-30    0.207379
2024-07-31    0.194289
2024-08-31   -0.206062
2024-09-30    0.204197
2024-10-31    0.150339
2024-11-30    0.029845
2024-12-31   -0.216963
2025-01-31   -0.032727
2025-02-28    0.240502
2025-03-31    0.130755
2025-04-30    0.257191
2025-05-31    0.418135
2025-06-30   -0.034178
2025-07-31    0.219069
2025-08-31   -0.057985
2025-09-30   -0.264174
Freq: ME, dtype: float64

C:\Users\saman\AppData\Local\Temp\ipykernel_16344\2368078652.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  ts_resampled = ts.resample("M").mean()

In [15]:
# 13. Categorical Data
df["Category"] = pd.Categorical(["test", "train", "test", "train", "test", "train"])
print("\nCategorical Data:")
print(df["Category"])

Categorical Data:
2023-09-20     test
2023-09-21    train
2023-09-22     test
2023-09-23    train
2023-09-24     test
2023-09-25    train
Freq: D, Name: Category, dtype: category
Categories (2, object): ['test', 'train']

In [16]:
# 14. Converting strings to datetime
data = {
    "date": ["2023-01-15", "2024-07-18", "2025-12-25", "2024-09-20"],
    "value": [10, 20, 30, 40]
}
df = pd.DataFrame(data)
df["date"] = pd.to_datetime(df["date"])

# Extracting useful date parts
df["year"] = df["date"].dt.year
df["month"] = df["date"].dt.month
print(df)

        date  value  year  month
0 2023-01-15     10  2023      1
1 2024-07-18     20  2024      7
2 2025-12-25     30  2025     12
3 2024-09-20     40  2024      9

In [17]:
# 15. Input and Output
# CSV

# Saving with the index column
df.to_csv("output.csv")
df_from_csv = pd.read_csv("output.csv")
print("\nData from CSV:\n", df_from_csv)

# Saving without the index column
df.to_csv("output.csv", index=False)
df_from_csv = pd.read_csv("output.csv")
print("\nData from CSV:\n", df_from_csv)

# For the text file
# df.to_csv('modified.txt', index=False, sep='\t')

Data from CSV:
    Unnamed: 0        date  value  year  month
0           0  2023-01-15     10  2023      1
1           1  2024-07-18     20  2024      7
2           2  2025-12-25     30  2025     12
3           3  2024-09-20     40  2024      9

Data from CSV:
          date  value  year  month
0  2023-01-15     10  2023      1
1  2024-07-18     20  2024      7
2  2025-12-25     30  2025     12
3  2024-09-20     40  2024      9

In [18]:
# 16. Excel
df.to_excel("output.xlsx", sheet_name="Sheet1")
df_from_excel = pd.read_excel("output.xlsx", sheet_name="Sheet1")
print("\nData from Excel:\n", df_from_excel)

Data from Excel:
    Unnamed: 0       date  value  year  month
0           0 2023-01-15     10  2023      1
1           1 2024-07-18     20  2024      7
2           2 2025-12-25     30  2025     12
3           3 2024-09-20     40  2024      9

In [19]:
# 17. Parquet
df.to_parquet("output.parquet")
df_from_parquet = pd.read_parquet("output.parquet")
print("\nData from Parquet:\n", df_from_parquet)

Data from Parquet:
         date  value  year  month
0 2023-01-15     10  2023      1
1 2024-07-18     20  2024      7
2 2025-12-25     30  2025     12
3 2024-09-20     40  2024      9

In [20]:
# Working with large amounts of data

for df in pd.read_csv('pokemon_data.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()
    
new_df = pd.concat([new_df, results])
print(new_df)

FileNotFoundError: [Errno 2] No such file or directory: 'pokemon_data.csv'

In [ ]:
# Practice Questions

In [ ]:
import pandas as pd
df=pd.read_csv("pokemon_data.csv")

In [ ]:
# How would you check the first 5 rows of your DataFrame?
df.head(5)

In [ ]:
# How can you filter rows where the 'Type 1' column is 'Fire' and the 'Attack' is greater than 50?
filter= df[(df["Type 1"] == "Fire") & (df["Attack"] > 50)]
print(filter)

In [ ]:
# What function would you use to get a summary of statistics for all numeric columns (like HP, Attack, Defense, etc.)?
df.describe()

In [ ]:
# If there were missing values in the 'Type 2' column, how would you fill them with the string 'None'?
df["Type 2"].fillna("None",inplace=True)

In [ ]:
# How would you sort your DataFrame by 'Speed' in descending order?
df.sort_values("Speed",ascending=False)

In [ ]:
# How can you group the data by 'Type 1' and calculate the average 'HP' for each group?
df.groupby(by="Type 1")["HP"].mean()

In [ ]:
# What is the best way to select only the columns 'Name', 'Type 1', and 'Speed' from the DataFrame?
df[["Name","Type 1","Speed"]]

In [ ]:
# How would you add a new column to the DataFrame that calculates the sum of 'Attack' and 'Defense'?
df["Sum"]=df["Attack"]+df["Defense"]

In [ ]:
# How can you find out if there are any rows where 'Legendary' is True and the 'HP' is greater than 100?
df[(df["Legendary"] == True) & (df["HP"] > 100)]

In [ ]:
# How would you export the filtered DataFrame (with 'Type 1' = 'Water') to a CSV file?
new_df = df[df["Type 1"]=="Water"]
# new_df.to_csv("learning.csv")

In [ ]:
# Some more concepts

In [ ]:
# Merging DataFrames

data2 = {
    'Name': ['Bulbasaur', 'Ivysaur', 'Charmander'],
    'Ability': ['Overgrow', 'Overgrow', 'Blaze']
}
df2 = pd.DataFrame(data2)

# Merging df and df2 on 'Name' with a left join
df_merged = df.merge(df2, on='Name', how='left')
print(df_merged)

In [ ]:
# Handling Duplicates

df_unique = df.drop_duplicates(subset='Name', keep='first')
print(df_unique)

In [ ]:
# Data Transformation

df['Name'] = df['Name'].apply(lambda x: x.upper())
print(df)

In [ ]:
# Pivot Tables

pivot_table = df.pivot_table(values='Attack', index='Type 1', columns='Generation', aggfunc='mean')
print(pivot_table)

In [ ]:
# Time Series Data
df['Date'] = pd.date_range(start='2024-01-01', periods=len(df), freq='D')

# Set 'Date' as index and resample to get monthly averages of 'Speed'
df.set_index('Date', inplace=True)
monthly_avg_speed = df['Speed'].resample('M').mean()
print(monthly_avg_speed)

In [ ]:
# Advanced Filtering
Q1 = df['HP'].quantile(0.25)
Q3 = df['HP'].quantile(0.75)
IQR = Q3 - Q1
filtered_hp = df[(df['HP'] >= (Q1 - 1.5 * IQR)) & (df['HP'] <= (Q3 + 1.5 * IQR))]
print(filtered_hp)

In [ ]:
# Categorical Data
df['Type 1'] = df['Type 1'].astype('category')
df['Type 2'] = df['Type 2'].astype('category')

type1_counts = df['Type 1'].value_counts()
type2_counts = df['Type 2'].value_counts()
print(type1_counts)
print(type2_counts)

In [ ]:
# Combining DataFrames
df_combined = pd.concat([df, df2], ignore_index=True)
print(df_combined)

In [ ]:
# Handling Outliers
Q1 = df['Speed'].quantile(0.25)
Q3 = df['Speed'].quantile(0.75)
IQR = Q3 - Q1
outliers = df[(df['Speed'] < (Q1 - 1.5 * IQR)) | (df['Speed'] > (Q3 + 1.5 * IQR))]
print(outliers)

# Handling outliers by removing them
df_no_outliers = df[~((df['Speed'] < (Q1 - 1.5 * IQR)) | (df['Speed'] > (Q3 + 1.5 * IQR)))]
print(df_no_outliers)

In [ ]:
# Data Aggregation
legendary_count = df.groupby('Generation')['Legendary'].sum()
print(legendary_count)